body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
}
.intro {
    text-align: center;
    margin-top: 20px;
}
.intro img {
    border-radius: 50%;
    max-width: 200px;
    margin-bottom: 20px;
}
.skills {
    margin-top: 20px;
}
.skills ul {
    list-style: none;
    padding: 0;
    background-color:lightgrey;
}
.projects {
    margin-top: 20px;
}
.projects .project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
}
.Resume{
    border: 1px solid #ddd;
    background-color: lightgrey;
}
.contact {
    margin-top: 20px;
    text-align: center;
    background-color: lightgrey;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

